{% extends 'base.html' %}
{% block content %}
    <h1>Secrets</h1>
    
    <ul>
    {% for x in mysecrets %}
        <li>
            {{ forloop.counter}}. <a href="{{ x.id }}">{{ x }}</a>{% if x.favorite %}⭐{% endif %} {{ x.created_date }}
            <a href="/admin/webapp/secret/{{ x.id }}/change/" target=”_blank”>edit</a>
            <a href="/admin/webapp/secret/{{ x.id }}/delete/" target=”_blank”>delete</a> 
        </li>
    {% empty %}
        <li>No secrets</li>
    {% endfor %}
    </ul>

    <a href="/admin/webapp/secret/add/" target=”_blank”>Add new</a>
{% endblock %}